{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="my-3 text-center bg-light">Iniciar sesión para empezar</h1>
    <div class="row mt-4">
  <div class="col-md-3"></div>
  <div class="col-md-6">
  <form>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus />
    <label class="form-label" for="form2Example1">Correo Electronico</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required />
    <label class="form-label" for="form2Example2">Contraseña</label>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

  </div>
  <!-- Submit button -->
  <button class="btn btn-lg btn-primary" type="submit">
        Iniciar sesion
    </button>
    <!-- Register buttons -->
    <a class="btn btn-lg btn-primary" href ="{{path('app_register_usuario')}}">
        Registrate
    </a>

  
  
</form>
  </div>
  <div class="col-md-3"></div>
</div>
    

    


    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    
{% endblock %}
