{% extends 'base.html.twig' %}

{% block title %}Register User{% endblock %}

{% block body %}
<div class="p-5 text-center bg-light">
      <h1 class="my-3">Registro de usuario</h1>
      {{form_start(formulario)}}
        <div class="row">
          <div class="col-md-12 my-2">
               {{form_label(formulario.nombres,'Nombres*')}}
               {{ form_errors(formulario.nombres) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.nombres)}}
                </div>
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.apellidos,'Apellidos*')}}
               {{ form_errors(formulario.apellidos) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.apellidos)}}
                </div>
               
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.email,'Correo Electronico*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.email) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.email, {attr:{'placeholder':'example@example.com'}})}}
               <div/>
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.password,'Contraseña*')}}
               {{ form_errors(formulario.password) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.password, {attr:{'placeholder':'Ingrese aqui su contraseña'}})}}
               </div>
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.tipo,'Tipo de Usuario*')}}
               {{ form_errors(formulario.tipo) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.tipo)}}
                </div>
          </div>
          <div class="row">
                   <div class="col-md-6 ">
                  {{form_widget(formulario.save,{attr:{'class':'btn btn-success btn-block'}})}}
                   </div>
                  <div class="col-md-6">
                  <a href="javascript:history.back() " class= "btn btn-danger btn-block">Cancelar</a>
                  </div>   
          </div>
          
          
        </div>
            {{ form_end(formulario) }}
      <div>
         
      </div>
</div>
{% endblock %}
